{% extends 'base.html' %}
{% block content %}
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Company from</th>
            <th scope="col">Loading date</th>
            <th scope="col">Company to</th>
            <th scope="col">Unloading date</th>
            <th scope="col">Notification</th>
            <th scope="col">Reference number</th>
            <th scope="col">Fix/Customs</th>
            <th scope="col">Weight</th>
            <th scope="col">Pallets</th>
            <th scope="col">Truck</th>
            <th scope="col">Forwarder</th>
            <th scope="col">Description</th>
            <th scope="col"><a href="/driver/add/cargo/" class="btn btn-primary">Add</a></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for cargo in all_cargo %}
            <tr class="table-activ">
                <th scope="row">{{ cargo.pk }}</th>
                <td>{{ cargo.company_address_from }}</td>
                <td>{{ cargo.loading_date }} {{ cargo.loading_hour }}</td>
                <td>{{ cargo.company_address_to }}</td>
                <td>{{ cargo.unloading_date }} {{ cargo.unloading_hour }}</td>
                <td>{{ cargo.notification }}</td>
                <td>{{ cargo.reference_number }}</td>
                <td>{{ cargo.fix }} {{ cargo.customs }}</td>
                <td>{{ cargo.weight }}</td>
                <td>{{ cargo.pallets }} {{ cargo.place_of_pallets }}</td>
                <td>{{ cargo.forwarder }}</td>
                <td>{{ cargo.description }} {{ cargo.date }}</td>
                <td><a href="/driver/edit/cargo/{{ cargo.pk }}/" class="btn btn-primary">Edit</a></td>
                <td><a href="/driver/delete/cargo/{{ cargo.pk }}/" class="btn btn-warning">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}