{% extends 'base.html' %}
{% block title %} Car {% endblock %}
{% block content %}
    {{ all_car }}
    {% for car in all_car %}
        <ul>
            <tr><b>Model: </b></tr>
                <li><p>{{ car.model }}<p></li>
            <tr><b>Have to: </b></tr>
                <li><p>{{ car.have_to }}</p></li>
            <tr><b>Number: </b></tr>
                <li><p>{{ car.trailer_number }}</p></li>
            <tr><b>Weighs: </b></tr>
                <li><p>{{ car.weighs }}</p></li>
            <tr><b>Can load: </b></tr>
                <li><p>{{ car.tons_can_load }}</p></li>
            <tr><b>Cargo space: </b></tr>
                <li><p>{{ car.cargo_space }}<p></li>
            <tr><b>Trailer: </b></tr>
                <li><p>{{ car.trailer }}<p></li>
        </ul>
    {% endfor %}
{% endblock %}