{% extends 'base.html' %}
{% block title %} {{ name }} {% endblock %}
{% block content %}
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Model</th>
            <th scope="col">Driver license</th>
            <th scope="col">Number</th>
            <th scope="col">Weighs</th>
            <th scope="col">Can load</th>
            <th scope="col">Cargo space</th>
            <th scope="col">Trailer</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for car in all_car %}
            <tr class="table-activ">
                <th scope="row">{{ trailer.pk }}</th>
                <td>{{ car.model }}</td>
                <td>{{ car.have_to }}</td>
                <td><a href="/driver/car/{{ car.pk }}/">{{ car.car_number }}</a></td>
                <td>{{ car.weighs }} (kilograms)</td>
                <td>{{ car.tons_can_load }} (kilograms)</td>
                <td>{{ car.cargo_space }}</td>
                <td><a href="/driver/trailer/{{ trailer.pk }}/">{{ car.trailer }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}