{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}
    <div class="card text-center" style="width: 30rem;">
        <div class="card-body">
            <h3>{{ message }}</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}<br/>
                <input type="submit" value="Send" class="btn btn-success" style="margin-top: 5px; margin-bottom: 5px;">
                <input type="reset" value="Reset" class="btn btn-danger" style="margin-top: 5px; margin-bottom: 5px;">
            </form>
            <input type="button" value="Back" class="btn btn-primary" onclick="history.back()">
        </div>
    </div>
{% endblock %}